@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    height: 100%;
    background: rgb(223, 223, 223);
    font-family: 'Share Tech Mono', monospace;
}
.clock-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
#clock-main__text{
    padding: 1rem;
    border: 1px solid black;
    font-size: 4rem;
    background: rgb(179, 146, 0);
}